<div class="card mb-4">
  <img class="card-img-top"
    src="{{imageUrl}}" alt="Card image cap"
    width="400">
    <div class="card-body">
      <h4 class="card-title">{{title}}</h4>

      <a href="/course/{{_id}}/details" class="btn btn-primary">Details</a>
      <small class="float-right">26.10.2021</small>
    </div>
</div>